.nav-bar{

   
    padding:5px;
    margin: 0px 25px;
    background-color: black;
  }
  
  .banner {
    position: relative;
    margin: 25px;
   
   
    
    
  }
  #banner{
    position: relative;
    height:400px;
    
   
    
   
  }
  .banner-show{
    max-height: 400px;
    transition: all 1s linear;
  }

  .banner-hide{
    max-height: 0px;
    transition: all 1s linear;
  }
  #banner div{

    width: 100%;
    max-height:100%;
    
  }
  
  .banner div img{
    width: 100%;
    max-height:100%;
    border-radius: 5px;
    box-shadow: inset 15px 0px 15px black;
    
  }
  .banner-txt{

    position: absolute;
    max-width: 40%;
    top: 20%;
    left: 0%;
    padding:5px;
    text-align: justify;
    color:white;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin:5px;
  }
  .banner-hdr{
    position: absolute;
    max-width: 40%;
    top: 1%;
    left: 0%;
    padding:5px;
    text-align: justify;
    color:white;
 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    margin:5px;
  }

  .banner-sh{
    position: absolute;
    bottom: 1%;
    left: 0%;
    max-width: 25px;
    max-height: 25px;
    margin:5px;
    transition: all 1s linear;
  }
  
  .banner-btn{
    position: absolute;
    bottom: 10%;
    left: 0%;
    
    margin:10px;

    color:white;
    border-color: #6c757d;

    background-color: transparent;
    
  font-weight: 400;

  text-align: center;
  vertical-align: middle;



  border: 1px solid ;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .banner-btn:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .main{
    display: flex;
  }
  
  .sidebar{
    flex:1;
    
    max-height:2250px;
    background-color: rgb(235, 230, 230);
    overflow:scroll;
    transition: all 1s linear;
    border:0.5px solid rgb(0, 0, 0,0.2);
    box-shadow: 10px 10px 25px 2px rgb(0, 0, 0,0.2);
  }
  
  .second{
    flex:5;
    padding:20px;
    transition: all 0.5s linear;
  }
  .second2{
    flex:12;
    transition: all 0.5s linear;
  
   
  
  }
  .sidebar2{
    flex:0;
    
    transition: all 0.5s linear;
  }
  .sidebar2 pre{
  display: none;
  }

  .summary-main{
    display:flex;
  }
  .box1{
    flex:1;
  }
  .box2{
    flex:2;
  }

  .thankyou h1{
    text-align:center;
    font-size:45px;
    color:#f88e86;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .close-img{

    max-width: 30px;
    max-height: 30px;
    position: absolute;
    right:0;
    top:0;
    margin:5px;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.show{
  
  display: block;
  /* -webkit-animation: slide-up 2.3s ease-in;
  -moz-animation: slide-up 3.3s ease-in; */
  -webkit-animation: slide-down 2.3s ease-out;
  -moz-animation: slide-down 3.3s ease-out;
}
.hide-animate{
  -webkit-animation: slide-up 2s ease-out;
  -moz-animation: slide-up 3.3s ease-out;
  
 
}
.hide-now{
  display: none;
}
@-webkit-keyframes slide-up {
  0%{
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@-moz-keyframes slide-up {
 0%{
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@-webkit-keyframes slide-down {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-moz-keyframes slide-down {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/*  */


.alert {
  margin-top:10px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  max-width: 350px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}