*{
    font-family: "Open Sans",sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    text-align: left;
}

.container {
    margin-left: 100px;
}


.form_content input {
    background-color: rgba(160, 210, 223, 0.986);
    border-color: lightblue;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 300px;
    padding-left: 10px;
    width: 164px;
}
.form_content button {
    background-color: rgba(160, 210, 223, 0.986);
    border-color: lightblue;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 300px;
    padding-left: 10px;
    width: 164px;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

select {
    background-color: rgba(160, 210, 223, 0.986);
    border-color: lightblue;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 265px;
    padding-left: 8px;

}

img {
    height: 300px;
}

.next {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.container h6{
    margin-left: 40%;
}